%div{:style => 'margin: 20px'}

  %h2 personal settings

  = error_messages_for :user
  - form_for(@user) do |f|
    %label.blocklabel
      email
      = f.text_field :email
    %label.blocklabel
      new password
      = f.password_field :password
    %p
      %br
      = f.submit 'save changes'