%h2 Firefox Extension
The official movierok client comes as a
%a{:href=> 'http://getfirefox.com'}
  Firefox 
Extension.
%p It's open source and developed by the movierok team.

#movierok_ff_more{:style=> 'display:none'}
  %h3 Features
  %ul
    %li
      %strong
        scan
      harddisk for moviefiles
    %li
      %strong
        synchronize
      with movierok.org
    %li
      %strong
        collect
      metainfo (e.g. codec) from moviefiles
    %li
      %strong
        play
      movies directly form movierok.org

  %h3 Installation
  %ol
    %li
      open the following link to install the extension:
      %br
      = link_to_firefox_extension('0.2.2')
    %li
      click on Allow to proceed
      %br
      =image_tag('clients/movierok_ff_allow.png')
    %li
      click on Install to start the installation
      %br
      =image_tag('clients/movierok_ff_install.png')
    %li
      restart Firefox

  %h3 Usage
  %ul
    %li
      %strong
        Settings
      %br
      right click the movierok logo on the right bottom corner and choose "Select Settings..."
      %br   
      =image_tag('clients/movierok_ff_menu.png')
      %br
      %br
      select your movie folders and prefered movie player
      %br    
      =image_tag('clients/movierok_ff_settings.png')
      %br
      movierok will now scan your movie folders
      %br
      %br
    %li
      %strong
        Update and Rescan
      %p
        movierok will automatically recognize your movies. from time to time it will check for new movies,
        if you want to force this check or if there are any inconsitencies you can click on Rescann.
        =image_tag('clients/movierok_ff_rescan.png')
      %p
        Note that a rescann can take some time.
        =image_tag('clients/movierok_ff_parsing.png')

  %h3 More
  For further information and the source code visit
  %a{:href=> 'http://github.com/mordaroso/movierok.ff'}
    movierok.ff @ github
  or check out the&nbsp;
  %a{:href=> 'http://github.com/mordaroso/movierok.ff/wikis'}> Wiki
  \.

  %br
  %br

%a{:id=>'movierok_ff_show', :style => 'cursor:pointer;', :onclick=> 'Effect.BlindDown(\'movierok_ff_more\');$(\'movierok_ff_show\').hide(); $(\'movierok_ff_hide\').show(); return false'}
  show more...
%a{:id=>'movierok_ff_hide', :style => 'cursor:pointer;display:none', :onclick=> 'Effect.SlideUp(\'movierok_ff_more\');$(\'movierok_ff_hide\').hide(); $(\'movierok_ff_show\').show(); return false'}
  show less...

