%h2 Gnome Do Plugin
The fast and simple way to search for your movies using 
%a{:href=> 'http://do.davebsd.com'} Gnome Do.
%p The plugin is an open source project developed by the movierok team.

#movierok_do_more{:style=> 'display:none'}
  %h3 Requirements
  you need
  %ul
    %li
      Linux with Gnome and Gnome Do installed
    %li
      movierok.ff installed

  %h3 Installation
  Until movierok.do gets into the official plugin repository for Gnome Do you have to do it the 'old school' way:
  %ul
    %li
      download xul and dll
    %li
      put them into the plugin folder
      %br
      %code  (e.g.~/.local/share/gnome-do/plugins or ~/.local/share/gnome-do/plugins-0.6.0)
    %li
      restart Gnome Do

  %h3 Usage
  %ul
    %li
      Configure the plugin
      %br
      =image_tag('clients/movierok_do_config.png')
      %br
      Set your movierok username and select your player. Now close the configuration window and wait some minutes (until indexing is finished).
    %li
      Now start Gnome Do (e.g. super + space) and search for a movie title
      =image_tag('clients/movierok_do_play.png')
    %li
      you can play the movie or visit the rip page on movierok.org.

  %h3 More
  For further information and the source code visit&nbsp;
  %a{:href=> 'http://github.com/mordaroso/movierok.do'}> movierok.do @ github
  \.
  %br
  %br

%a{:id=>'movierok_do_show', :style => 'cursor:pointer;', :onclick=> 'Effect.BlindDown(\'movierok_do_more\'); $(\'movierok_do_show\').hide(); $(\'movierok_do_hide\').show(); return false'}
  show more...
%a{:id=>'movierok_do_hide', :style => 'cursor:pointer;display:none', :onclick=> 'Effect.SlideUp(\'movierok_do_more\');$(\'movierok_do_hide\').hide(); $(\'movierok_do_show\').show(); return false'}
  show less...
