%h1 movierok clients

%p
  %strong movierok isn't just a website
%p every application can make usage of the information movierok provides by using our open webservices.
%p feel free to develop your own client and let us know about it so we can list it on this page. 

%ul#clients
  %li= render :partial => 'movierok_ff'
  %li= render :partial => 'movierok_do'

