%div{:style => 'margin: 20px'}
 
  - unless flash[:notice].blank?
    %p
      %strong= flash[:notice] 
    %br

  %h2 help
  %br
  %ol
    %li 
      %strong
        Install the
        = link_to_firefox_extension('0.2.1')
        %br
        and select your movie directory
      %br 
      movierok will recognize all movies it already knows    
    %li 
      %strong
        =link_to 'Add', new_rip_url
        the remaining rips
      %br
      adding a rip only takes some seconds
    %li 
      %strong Use movierok
      %br
      you can browse through your movies on your
      =link_to 'rips page', user_rips_url(logged_in_user)
      %br
      you can search and filter them
      %br 
      and start them from your browser
  %br
  Watch the
  = link_to 'screencast', 'http://www.vimeo.com/1564926?pg=embed&amp;sec=1564926'
  if you haven't yet seen it.