%li.part{:class => ("no_movie" if not part.real_movie_file?)}<
  - display_none_remove_link = (unknown) ? '' : 'display: none'
  - display_none_add_link = (unknown) ?  'display: none' : ''
  = link_to_function '<span>&nbsp;</span>', 'add_part(this)', :class => 'add_part_link', :style => display_none_remove_link
  = link_to_function '<span>&nbsp;</span>', 'remove_part(this)', :class => 'remove_part_link', :style => display_none_add_link
  %span.mrokhash>= part.mrokhash
  %input{:type => 'hidden', :name => 'rip[mrokhashes][]', :value => part.mrokhash}>
  %span.duration{:style => 'display: none'}= part.duration
